* {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 130, 130, 0.2);
    min-width: 500px;
}
h1, h2, span, button {
    font-family: 'Lobster', cursive;
    color: #e74c3c;
    text-align: center;
    margin: -3px auto;
}
h1 {
    font-size: 4.5em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 0.95em;
}
.seat p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.7em;
}
#main {
    background-image: url("../images/film.png");
    width: 100%;
    margin-top: -5px;
}
#stage {
    width: 60%;
    margin: 7px auto;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    color: rgb(0, 130, 130);
}
#theatre {
    background-color: rgba(204, 234, 231, 0.85);
    border: 3px solid #ffffff;
    width: 90%;
    padding: 5%;
    margin: auto;
    max-width: 900px;
    min-width: 450px;
    border-radius: 25px;
}
form {
  width:100%;
  display: inline-block;
  text-align: center;
  margin: auto;
}
input {
  font-size: 1em;
}
button{
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 1.25em;
  border-radius: 5px;
}
.row {
    display: block;
    margin-left: 2.85%;
}
.seat {
    display: inline-block;
    width: 15.5%;
    text-align: center;
    border: 3px solid #ffffff;
    background-color: rgba(0, 130, 130, 0.9);
    border-radius: 13px;
    margin-bottom: 5px;
    padding: 2%;
}

.seat:hover{
  background-color: #CED61D;
}

.selected {
  background-color: yellow;
}

.reserved {
    background-color: #e74c3c;
}
#instructions {
    width: 75%;
    margin: auto;
}
